h1, p {
  margin: 1em auto;
  text-align: center;
}

label {
  display: block;
	margin: 0.5rem 0;
}

input[type="submit"] {
  display: block;
	margin: 0.5rem 0;
}

textarea {
  display: block;
  margin: auto auto;

}

.disclaim {
  font-size: 10px;
}
